@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Dans Votre Agenda</h1>
    <p> <strong> Construire par : </strong><br />
        Abdoul karim <br />
        SHEY Louis CHIA <br />
        Samuel Dissake <br />
    </p>
</div>
